{% extends 'base.html.twig' %}

{% block title %}
    {{ asignatura.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
       <nav class="navbar mx-auto navbar-expand-md navbar-light bg-white">

        <img src="{{ asset('logo.png') }}" style="width: 80px;" alt="Logo" class="logo-image d-none d-md-inline me-auto">


                 <h3 class="optimo rosa mx-auto ms-3 d-none d-md-inline" style="position: absolute; left: 50%; transform: translateX(-50%);" href="#">
                Brainstorm Boulevard
            </h3>
            <span class="d-inline d-md-none">
                <h3 class="optimo rosa mx-auto ms-3" href="#">
                    <img src="{{ asset('logo.png') }}" style="width: 80px;" alt="Logo" class="logo-image me-auto">
                </h3>
            </span>

                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle d-flex align-items-center ms-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.foto is not null %} {# función para que el usuario tenga una foto de perfíl o por defecto se le ponga una como en una cuenta de google (se repite en todos los navbar) #}
                                <img src="{{ asset('uploads/fotos/' ~ app.user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                    {{ app.user.email|first|upper }}
                                </div>
                            {% endif %}
                            <span class="ms-2">{{ last_username }}</span>
                        </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('info') }}">Información del usuario</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </nav>

        <div class="row">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <div class="col-md-3 order-2 mx-auto" style="height: 50%;">
                 <div class="row text-center mx-auto" style="width: 70%;">
                    <ul class="nav bg-white card mt-5">
                        <li class="nav-item">
                            <p class="card-header text-center rosa" style="width: 105%;"><strong>Menú para la matriculación de alumnos</strong></p>

                            <a class="align-self-center me-5 me-md-1 text-center nav-link underline-link ms-5 ms-md-3 azul mx-auto mt-3" href="{{ path('newuserasignatura') }}">Matricular en cursos</a>

                            <a class="align-self-center me-5 me-md-1 text-center nav-link underline-link ms-5 ms-md-3 azul mx-auto" href="{{ path('desmatricula') }}">Desmatricular de cursos</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="col-md-6 m-5 mx-auto order-1 card bg-white">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="link-dark rosa" href="{{ path('principal') }}"><span class="material-symbols-outlined">
                    arrow_back
                    </span></a>
                        <h2 class="rosa text-center"><strong>Asignatura: {{ asignatura.nombre }}</strong></h2>
                    </li>

                    {% for tema in temas %}
                        <p class="text-secondary text-center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                        <a class="text-center nav-link rosa mb-3" href="{{ path('tema', {id: tema.id}) }}"><strong> TEMA {{ loop.index }}: {{ tema.nombre }} </strong></a>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('asignatura', { 'id': asignatura.id, 'erasetema': tema.id }) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este tema?');" class="btn align-self-center btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    {% endfor %}

                    {% for entrega in entregas %}
                        <p class="text-secondary text-center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                        <a class="text-center nav-link rosa mb-3" href="{{ path('entrega', {id: entrega.id}) }}"><strong> ENTREGA: {{ entrega.nombre }} </strong></a>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('asignatura', { 'id': asignatura.id, 'eraseentrega': entrega.id }) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta entrega?');" class="btn align-self-center btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    {% endfor %}

                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <p class="text-secondary text-center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                    <a class="btn align-self-center btn-secondary btn-sm mb-3" href="{{ path('newtema', {'id': asignatura.id}) }}">Crear Tema</a>
                    <a class="btn align-self-center btn-secondary btn-sm mb-3" href="{{ path('newentrega', {'id': asignatura.id}) }}">Crear Entrega</a>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
