{% extends 'base.html.twig' %}

{% block title %}
    Crear Tema
{% endblock %}

{% block body %}

<style>

label,h1{
    color: white;
}

</style>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Crear Tema</h1>

                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                <div class="form-group">
                    {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.contenido, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
