{% extends 'base.html.twig' %}

{% block title %}
    {{ tema.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
         <nav class="navbar mx-auto navbar-expand-md navbar-light bg-white">

                 <h3 class="optimo rosa mx-auto ms-3 d-none d-md-inline" style="position: absolute; left: 50%; transform: translateX(-50%);" href="#">
                Brainstorm Boulevard
            </h3>
            <span class="d-inline d-md-none">
                <h3 class="optimo rosa mx-auto ms-3" href="#">
                    Brainstorm
                </h3>
            </span>

                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle d-flex align-items-center ms-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.foto is not null %}
                                <img src="{{ asset('ruta/a/la/foto/' ~ app.user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                    {{ app.user.email|first|upper }}
                                </div>
                            {% endif %}
                            <span class="ms-2">{{ app.user.email }}</span>
                        </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('info') }}">Información del usuario</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </nav>
        
        <div class="row">
            <div class="col-md-2 m-5 mx-auto order-2 calendario bg-white">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 m-5 mx-auto order-1 bg-white">
                <a class="rosa bg-dark" href="{{ path('principal') }}"><-Back to principal</a>
                <h1 class="rosa text-center"><strong>{{ tema.nombre }}</strong></h1>
                <p>{{ tema.contenido }}</p>
            </div>
        </div>
    </div>

{% endblock %}
