{% extends 'base.html.twig' %}

{% block title %}
    {{ tema.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 optimo rosa text-center">BRAINSTORM BOULEVARD</h1>
        </div>
        <div class="row">
            <p>Hello, <strong>{{ app.user.email }}</strong> (<a class="rosa" href="{{ path('logout') }}"><strong>logout</strong></a>)</p>
        </div>
        <div class="row">
        <div class="col-2 m-5 calendario bg-white">
                <ul class="nav flex-column">
                {# proximamente aquí tengo pensado incluir un calendario #}
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-6 m-5 bg-white">
            <a class="rosa bg-dark" href="{{ path('principal') }}"><-Back to principal</a>
                <h1 class="rosa text-center"><strong>{{ tema.nombre }}</strong></h1>
                <p>{{ tema.contenido }}</p>
            </div>
        </div>
    </div>

{% endblock %}
