{% extends 'base.html.twig' %}

{% block title %}
    Brainstorm🧠
{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <div class="row">
        <h1 class="col-12 optimo rosa text-center"> BRAINSTORM BOULEVARD </h1>
        </div>
        <div class="row">
        <p> hello, <strong>{{ last_username }}</strong> (<a class="rosa" href="http://localhost/brainstorm/public/logout"><strong>logout</strong></a>)</p>
        </div>
        <div class="row">
            <div class="col-2 d-flex m-5 bg-white">
                <ul class="nav flex-column">
                {# aquí debajo meto la primera posición del array a mano
                y luego con ifs voy mirando si son temas/tareas o asignatúras #}
                    <li class="nav-item">
                        <a class="nav-link rosa" aria-current="page" href="#"><strong>Principal</strong></a>
                    </li>

                    {% for asignatura in userAsignaturas %}
                    <a class="nav-link rosa h2" href="{{ path('asignatura', {'id': asignatura.id}) }}"><strong>{{ asignatura.nombre }}</strong></a>

                        {% for tema in temasPorAsignatura[asignatura.id] %}
                             <a class="rosa nav-link" href="{{ path('tema', {id: tema.id}) }}">{{ tema.nombre }}</a>
                        {% endfor %}

                        {% for entrega in entregasPorAsignatura[asignatura.id] %}
                            <a class="rosa nav-link mt-2 ms-2">{{ entrega.nombre }} (tarea)</a>
                        {% endfor %}


                 {# Agregar enlace para crear un nuevo tema #}
                 {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a class="align-self-center nav-link azul mb-5 mt-2" href="{{ path('newtema', {'id': asignatura.id}) }}">Crear Tema</a>
                {% endif %}
                {% endfor %}
                {# Comprueba si el usuario es docente o alumno #}
                   {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a class="align-self-start nav-link azul mx-auto" href="{{ path('newuserasignatura') }}">Matricular en cursos</a>
                {% endif %}
                </ul>

             
                
            </div>

            <div class="col-6 m-5 bg-white">
                <ul class="nav flex-column">
                {# aquí debajo meto la primera posición del array a mano
                y luego con ifs voy mirando si son temas/tareas o asignatúras #}
                    <li class="nav-item">
                        <h1 class="rosa text-center"><strong>Tareas Pendientes:</strong></h1>
                    </li>
                    {# aquí se indicaría un if, que si no hay tareas pendientes ponga: ninguna tarea por hacer. #}
                    <li class="nav-item m-5">
                      {% set numeroEntregas = 0 %}
                        {% for asignatura in userAsignaturas %}
                            {% set entregasAsignatura = entregasPorAsignatura[asignatura.id] %}
                            {% set numeroEntregas = numeroEntregas + entregasAsignatura|length %}

                            {% if entregasAsignatura|length > 0 %}
                                {% for entrega in entregasAsignatura %}
                                    <h2 class="text-center"><a class="rosa nav-link">{{ entrega.nombre }}</a></h2>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% if numeroEntregas == 0 %}
                            <h3 class="azul text-center">No hay tareas pendientes</h3>
                        {% endif %}
                    </li>
                    </li>
                </ul>
            </div>

             <div class="col-2 m-5 bg-white">
                <ul class="nav flex-column">
                {# proximamente aquí tengo pensado incluir un calendario #}
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>

        </div>



        </div>

    </div>

{% endblock %}