{% extends 'base.html.twig' %}

{% block title %}
    Brainstorm
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar mx-auto navbar-expand-md navbar-light bg-white">

        <img src="{{ asset('logo.png') }}" style="width: 80px;" alt="Logo" class="logo-image d-none d-md-inline me-auto">


                 <h3 class="optimo rosa mx-auto ms-3 d-none d-md-inline" style="position: absolute; left: 50%; transform: translateX(-50%);" href="#">
                Brainstorm Boulevard
            </h3>
            <span class="d-inline d-md-none">
                <h3 class="optimo rosa mx-auto ms-3" href="#">
                    <img src="{{ asset('logo.png') }}" style="width: 80px;" alt="Logo" class="logo-image me-auto">
                </h3>
            </span>

                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle d-flex align-items-center ms-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.foto is not null %} {# funci贸n para que el usuario tenga una foto de perf铆l o por defecto se le ponga una como en una cuenta de google (se repite en todos los navbar) #}
                                <img src="{{ asset('uploads/fotos/' ~ app.user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                    {{ app.user.email|first|upper }}
                                </div>
                            {% endif %}
                            <span class="ms-2">{{ last_username }}</span>
                        </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('info') }}">Informaci贸n del usuario</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesi贸n</a>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </nav>

        <div class="row">
           <div class="col-md-2 m-5 d-flex mx-auto justify-content-center">
    <ul class="nav flex-column align-items-center">
    {% if 'ROLE_ADMIN' in app.user.roles %}
                <div class="card mb-3">
                    
                    <a class="align-self-center text-center nav-link underline-link azul mx-auto" href="{{ path('newasignatura') }}">Registrar nueva asignatura</a>
                        
                    </div>
    {% endif %}
            {% for asignatura in userAsignaturas %}
                <div class="card mb-3">
                    <a class="rosa underline-link nav-link h2" href="{{ path('asignatura', {'id': asignatura.id}) }}"><strong>{{ asignatura.nombre }}</strong></a>
                    <div class="card-body">
                        
                        {% for tema in temasPorAsignatura[asignatura.id] %}
                            <a class="rosa nav-link" href="{{ path('tema', {id: tema.id}) }}">TEMA {{ loop.index }}: {{ tema.nombre }}</a>
                        {% endfor %}

                        {% for entrega in entregasPorAsignatura[asignatura.id] %}
                            <a class="rosa nav-link" href="{{ path('entrega', {id: entrega.id}) }}">ENTREGA: {{ entrega.nombre }}</a>
                        {% endfor %}
                        
                    </div>
                </div>
            {% endfor %}

    </ul>
</div>



           <div class="col-md-6 m-5 mx-auto esquina">
    <button class="dropdown-btn">Tareas</button>
    <div class="dropdown-content show bg-white">
        <ul class="nav flex-column">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <li class="nav-item">
                <h1 class="rosa text-center"><strong>Tareas para Correcciones:</strong></h1>
            </li>
            <li class="nav-item m-5">
                {# el array ya lo defino aqu铆 porque no tiene ninguna utilidad relevante en la base de datos #}
                {% set numeroEntregas = 0 %}
                {% for asignatura in userAsignaturas %}
                {% set entregasAsignatura = entregasPorAsignatura[asignatura.id] %}
                {% set numeroEntregas = numeroEntregas + entregasAsignatura|length %}

                {% if entregasAsignatura|length > 0 %}
                {% for entrega in entregasAsignatura %}
                <h2 class="text-center"><a class="rosa nav-link" href="{{ path('entrega', {id: entrega.id}) }}">{{ entrega.nombre }}</a></h2>
                {% endfor %}
                {% endif %}
                {% endfor %}

                {% if numeroEntregas == 0 %}
                <h3 class="azul text-center">No hay tareas impuestas</h3>
                {% endif %}
            {% endif %}

            {% if 'ROLE_USER' in app.user.roles and not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <h1 class="rosa text-center"><strong>Tareas Pendientes:</strong></h1>
            </li>
            <li class="nav-item m-5">
                {% set numeroEntregas = 0 %}
                    {% set todasEntregadas = true %}
                    {% for asignatura in userAsignaturas %}
                        {% set entregasAsignatura = entregasPorAsignatura[asignatura.id] %}
                        {% set numeroEntregas = numeroEntregas + entregasAsignatura|length %}

                        {% if entregasAsignatura|length > 0 %}
                            {% for entrega in entregasAsignatura %}
                                {% set subidaEncontrada = false %}
                                {% for subida in entrega.subidas %}
                                    {% if subida.user == user %}
                                        {% set subidaEncontrada = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if not subidaEncontrada %}
                                    {% set todasEntregadas = false %}
                                    <h2 class="text-center"><a class="rosa nav-link" href="{{ path('entrega', {id: entrega.id}) }}">{{ entrega.nombre }}</a></h2>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% if numeroEntregas == 0 or todasEntregadas %}
                        <h3 class="azul text-center">No hay tareas pendientes</h3>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </div>
</div>
            <div class="col-md-3 mx-auto" style="height: 50%;">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            
                <div class="row text-center mx-auto" style="width: 70%;">
                    <ul class="nav bg-white card mt-5">
                        <li class="nav-item">
                            <p class="card-header text-center rosa" style="width: 105%;"><strong>Men煤 para la matriculaci贸n de alumnos</strong></p>

                            <a class="align-self-center me-5 me-md-1 text-center nav-link underline-link ms-5 ms-md-3 azul mx-auto mt-3" href="{{ path('newuserasignatura') }}">Matricular en cursos</a>

                            <a class="align-self-center me-5 me-md-1 text-center nav-link underline-link ms-5 ms-md-3 azul mx-auto" href="{{ path('desmatricula') }}">Desmatricular de cursos</a>
                        </li>
                    </ul>
                </div>

            {% endif %}
            <div class="row">
                <div class="col-md-3 mx-auto m-5 bg-white card" style="width: 100%;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <h2 class="text-center mb-4 azul"><strong>Usuarios de tus asignaturas:</strong></h2>
                            {% for asignatura in userAsignaturas %}
                                <h3 class="rosa text-center mt-2 align-center">{{ asignatura.nombre }}</h3>
                                <table class="text-center align-center mb-4 ms-4">
                                    <tbody>
                                        {% for user in users %}
                                            {% if asignatura in user.asignaturas %}
                                                <tr>
                                                    <td class="text-center">
                                                        <a class="nav-link underline-link d-flex azul align-items-center ms-2" href="{{ path('info_user', {'id': user.id}) }}">
                                                            {% if user.foto is not null %}
                                                                <img src="{{ asset('uploads/fotos/' ~ user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                                                            {% else %}
                                                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                                                    {{ user.email|first|upper }}
                                                                </div>
                                                            {% endif %}
                                                            <span class="ms-2">{{ user.email }}</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var dropdownBtn = document.querySelector(".dropdown-btn");
    var dropdownContent = document.querySelector(".dropdown-content");

    dropdownBtn.addEventListener("click", function() {
        this.classList.toggle("active");
        if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
        } else {
            dropdownContent.style.display = "block";
        }
    });
});
</script>


{% endblock %}
