{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
    <div class="alert alert-danger tamaño" role="alert">
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div> 
    {% endif %}

    <style>

    .tamaño{
        height: 80px;
    }

    h1{
        padding: 20px;
    }

    div{
        padding: 20px;
    }

    input,label,button{
        margin-top: 20px;
    }
    
    .centrado{
        text-align: center;
        top: 15vh;
    }

    p{
        margin-top: 10px;
    }

    /* Nuevos estilos para el login */
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 50px; /* Espacio entre el formulario y el logo */
    }

    .logo {
        width: 200px; /* Tamaño del logo */
        margin-left: 50px; /* Espacio entre el logo y el formulario */
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrar horizontalmente */
        margin-right: 50px; /* Espacio entre el formulario y el logo */
        text-align: center; /* Centrar el texto */
    }

    </style>

    <div class="login-container">

<div class="login-form bg-white">

            <h1 class="optimo rosa">BRAINSTORM BOULEVARD</h1>

            <form action="{{ path('login') }}" method="post">
                <label for="username" class="form-label rosa">Email address:</label>
                <input type="email" class="form-control" id="username" name="_username" placeholder="name@example.com" value="{{ last_username }}">

                <label for="password" class="form-label rosa">Password:</label>
                <input type="password" id="password" name="_password" class="form-control">
                
                <input type="hidden" name="_target_path" value="{{ url('principal', {'id': userID}) }}">
        
                <button type="submit" class="btn btn-dark rosa">Login</button>

                <p><a class="link-opacity-100 rosa" href="http://localhost/brainstorm/public/registration">You are not logged in? Register-></a></p>
            </form>
        </div>

        <img class="logo" src="{{ asset('logo.png') }}" style="width: 300px; alt="Logo">
    </div>
{% endblock %}
