{% extends 'base.html.twig' %}

{% block title %}
    {{ entrega.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <nav class="navbar mx-auto navbar-expand-md navbar-light bg-white">

                 <h3 class="optimo rosa mx-auto ms-3 d-none d-md-inline" style="position: absolute; left: 50%; transform: translateX(-50%);" href="#">
                Brainstorm Boulevard
            </h3>
            <span class="d-inline d-md-none">
                <h3 class="optimo rosa mx-auto ms-3" href="#">
                    Brainstorm
                </h3>
            </span>

                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle d-flex align-items-center ms-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.foto is not null %}
                                <img src="{{ asset('uploads/fotos/' ~ app.user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                    {{ app.user.email|first|upper }}
                                </div>
                            {% endif %}
                            <span class="ms-2">{{ app.user.email }}</span>
                        </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('info') }}">Información del usuario</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </nav>
        
        <div class="row">
            <div class="col-md-4 m-5 mx-auto order-2 calendario bg-white">
                <ul class="nav flex-column">
                    {# próximamente aquí tengo pensado incluir un calendario #}
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 m-5 order-1 mx-auto bg-white">
                <a class="link-dark rosa" href="{{ path('principal') }}"><span class="material-symbols-outlined">
                    arrow_back
                    </span></a>
                <h1 class="rosa text-center"><strong>{{ entrega.nombre }}</strong></h1>
                <p class="text-secondary">Fecha de entrega: {{ entrega.fechaEntrega|date('Y-m-d H:i') }}</p>

                <h2 class="rosa text-center">Enviar Tarea:</h2>

                {# Mostrar mensaje de archivo enviado y contenido del archivo #}
                {% if app.flashes('success') is not empty %}
                    <div class="alert alert-success">
                        {{ app.flashes('success')|first }} La tarea ha sido correctamente enviada, para realizar cambios, volver a subir.
                    </div>
                {% endif %}

                {% if app.session.get('contenido_archivo') is not null %}
                    <div class="alert alert-info">
                        <h5>Información del archivo:</h5>
                        <p>{{ app.session.get('contenido_archivo') }}</p>
                    </div>
                {% endif %}

                {% if 'ROLE_ADMIN' in app.user.roles %}
                    {% if subidas is not empty %}
                        {% for subida in subidas %}
                            <div class="alert alert-info">
                                <h5>Archivo enviado por {{ subida.user.email }}:</h5>
                                <p>{{ subida.file }}</p>
                                <p>Fecha de subida: {{ subida.fechaSubida|date('Y-m-d H:i') }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {# Mostrar formulario de subida de archivo #}
                {{ form_start(formularioSubida) }}
                    {{ form_widget(formularioSubida.file) }}
                    {{ form_row(formularioSubida._token) }}
                    <button type="submit" class="btn btn-primary">Enviar archivo</button>
                {{ form_end(formularioSubida) }}

                {% if 'ROLE_ADMIN' in app.user.roles %}
                    {# Mostrar formulario de nota del administrador #}
                    {{ form_start(formularioNota) }}
                    {{ form_widget(formularioNota.nota, {'attr': {'step': 'any'}}) }}
                    {{ form_row(formularioNota._token) }}
                    <button type="submit" class="btn btn-primary">Agregar nota</button>
                    {{ form_end(formularioNota) }}
                {% endif %}

                {# Mostrar información de la subida y la nota del administrador si están disponibles #}
                {% if entrega.subidas is not empty %}
                    {% for subida in entrega.subidas %}
                        <p>Archivo enviado: {{ subida.file }}</p>
                        <p>Fecha de subida: {{ subida.fechaSubida|date('Y-m-d H:i') }}</p>
                        {% if subida.nota is not empty %}
                            <p>Nota de la tarea: {{ subida.nota }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
