{% extends 'base.html.twig' %}

{% block title %}
    {{ entrega.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <nav class="navbar mx-auto navbar-expand-md navbar-light bg-white">

                 <h3 class="optimo rosa mx-auto ms-3 d-none d-md-inline" style="position: absolute; left: 50%; transform: translateX(-50%);" href="#">
                Brainstorm Boulevard
            </h3>
            <span class="d-inline d-md-none">
                <h3 class="optimo rosa mx-auto ms-3" href="#">
                    Brainstorm
                </h3>
            </span>

                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle d-flex align-items-center ms-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.foto is not null %}
                                <img src="{{ asset('uploads/fotos/' ~ app.user.foto) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                            {% else %}
                                <div class="rounded-circle" style="width: 40px; height: 40px; background-color: {{ randomColor }}; text-align: center; line-height: 40px; color: #fff; font-weight: bold;">
                                    {{ app.user.email|first|upper }}
                                </div>
                            {% endif %}
                            <span class="ms-2">{{ app.user.email }}</span>
                        </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('info') }}">Información del usuario</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </nav>
        
        <div class="row">
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <div class="col-md-2 mx-auto order-2 m-5 bg-white calendario">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            {# <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p> #}

                                <a class="align-self-center text-center nav-link azul mx-auto mt-3" href="{{ path('newuserasignatura') }}">Matricular en cursos</a>

                                <a class="align-self-center text-center nav-link azul mx-auto" href="{{ path('desmatricula') }}">Desmatricular de cursos</a>
                            
                                <a class="align-self-center text-center nav-link azul mx-auto" href="{{ path('newasignatura') }}">Registrar nueva asignatura</a>

                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="col-md-6 m-5 order-1 mx-auto bg-white">
                <a class="link-dark rosa" href="{{ path('principal') }}"><span class="material-symbols-outlined">
                    arrow_back
                    </span></a>
                <h1 class="rosa text-center"><strong>{{ entrega.nombre }}</strong></h1>
                <p class="rosa">Fecha de entrega: <strong>{{ entrega.fechaEntrega|date('Y-m-d H:i') }}</strong></p>

                {% if is_granted('ROLE_ADMIN') %}
                    {% for subidaEntrega in subidasEntrega %}
                        {% if subidaEntrega.file %}
                            <a class="link nav-link" href="{{ asset('uploads/archivos/' ~ subidaEntrega.file) }}">Entrega: {{ subidaEntrega.file }}</a> - <a href="{{ path('newnota', {'id': subidaEntrega.id}) }}">Asignar Nota</a>
                        {% endif %}

                         {% if subidaEntrega.nota %}
                            <span class="nota">
                               {% if subidaEntrega.nota.numero >= 5 %}
                                    Aprobado
                                {% else %}
                                    Suspendido
                                {% endif %}
                                (Nota: {{ subidaEntrega.nota.numero }})
                            </span>
                        {% endif %}

                        </br></br></br>
                    {% endfor %}
                    {# Mostrar la nota media #}
                    {% if subidasEntrega|length > 0 %}
                        <p>Nota media: {{ notaMedia }}</p>
                    {% endif %}
                {% endif %}

                

                {# para que esta parte solo sea visible para los alumnos, dado a que es para entregar los archivos #}
                {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}

                {{ form_start(formArchivo) }}

                    {{ form_row(formArchivo.file, {
                        'label': 'Archivo:',
                        'attr': {
                            'class': 'form-control',
                            'data-title': 'Seleccionar foto'
                        }
                    }) }}
                    {{ form_row(formArchivo.guardar, {
                        'label': 'Enviar',
                        'attr': {'class': 'btn btn-primary mt-2 mb-2'}
                    }) }}

                {{ form_end(formArchivo) }}

                {# Mostrar la hora de envío de la última subida si existe #}
                    {% if latestSubida is not null and latestSubida.entrega == entrega and latestSubida.user == app.user %}
                    <p>Hora de envío de la última subida: {{ latestSubida.fechaSubida|date('Y-m-d H:i') }}</p>

                    <p>Para enviar alguna corrección, volver a enviar el archivo dentro del plazo.</p>
                    
                    {# Calcular la diferencia de tiempo entre latestSubida y fechaEntrega #}
                    {% set diff = latestSubida.fechaSubida|date('U') - entrega.fechaEntrega|date('U') %}
                    
                    {# Obtener los componentes de la diferencia de tiempo #}
                     {% set days = diff / (60 * 60 * 24) %}
                    {% set hours = (diff % (60 * 60 * 24)) / (60 * 60) %}
                    {% set minutes = (diff % (60 * 60)) / 60 %}
                    {% set seconds = diff % 60 %}

                    {# Imprimir la diferencia de tiempo en formato legible #}
                    {% if diff > 0 %}
                        <p class="text-danger">Tarea entregada {{ days|number_format }} días, {{ hours|number_format }} horas, {{ minutes|number_format }} minutos y {{ seconds|number_format }} segundos tarde.</p>
                    {% else %}
                        <p class="text-success">Tarea entregada a tiempo.</p>
                    {% endif %}
                        {% if nota %}
                            <span class="nota">
                                {% if nota.numero >= 5 %}
                                    Aprobado
                                {% else %}
                                    Suspendido
                                {% endif %}
                                (Nota: {{ nota.numero }})
                            </span>
                        {% endif %}

                    {% else %}
                        <p>No has enviado ninguna tarea.</p>
                    {% endif %}
                {% endif %}

                

                
            </div>
        </div>
    </div>

{% endblock %}
