{% extends 'base.html.twig' %}

{% block title %}
    {{ entrega.nombre }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 optimo rosa text-center">BRAINSTORM BOULEVARD</h1>
        </div>
        <div class="row">
            <p>Hello, <strong>{{ app.user.email }}</strong> (<a class="rosa" href="{{ path('logout') }}"><strong>logout</strong></a>)</p>
        </div>
        <div class="row">
            <div class="col-2 m-5 calendario bg-white">
                <ul class="nav flex-column">
                    {# próximamente aquí tengo pensado incluir un calendario #}
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa nav-link" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-6 m-5 bg-white">
                <a class="rosa bg-dark" href="{{ path('principal') }}"><- Back to principal</a>
                <h1 class="rosa text-center"><strong>{{ entrega.nombre }}</strong></h1>
                <p class="text-secondary">Fecha de entrega: {{ entrega.fechaEntrega|date('Y-m-d H:i') }}</p>

                <h2 class="rosa text-center">Enviar Tarea:</h2>

                {# Mostrar mensaje de archivo enviado y contenido del archivo #}
            {% if app.flashes('success') is not empty %}
                <div class="alert alert-success">
                    {{ app.flashes('success')|first }} La tarea ha sido correctamente enviada, para realizar cambios, volver a subir.
                </div>
            {% endif %}

            {% if app.session.get('contenido_archivo') is not null %}
                <div class="alert alert-info">
                    <h5>Información del archivo:</h5>
                    <p>{{ app.session.get('contenido_archivo') }}</p>
                </div>
            {% endif %}

                {# Mostrar formulario de subida de archivo #}
                {{ form_start(formularioSubida) }}
                    {{ form_widget(formularioSubida.file) }}
                    {{ form_row(formularioSubida._token) }}
                    <button type="submit" class="btn btn-primary">Enviar archivo</button>
                {{ form_end(formularioSubida) }}

                {% if 'ROLE_ADMIN' in app.user.roles %}
                {# Mostrar formulario de nota del administrador #}
                {{ form_start(formularioNota) }}
                    {{ form_widget(formularioNota.nota, {'attr': {'step': 'any'}}) }}
                    {{ form_row(formularioNota._token) }}
                    <button type="submit" class="btn btn-primary">Agregar nota</button>
                {{ form_end(formularioNota) }}
                {% endif %}

                {# Mostrar información de la subida y la nota del administrador si están disponibles #}
                {% if entrega.subidas is not empty %}
                    {% for subida in entrega.subidas %}
                        <p>Archivo enviado: {{ subida.file }}</p>
                        <p>Fecha de subida: {{ subida.fechaSubida|date('Y-m-d H:i') }}</p>
                        {% if subida.nota is not empty %}
                            <p>Nota de la tarea: {{ subida.nota }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
