{% extends 'base.html.twig' %}

{% block title %}
    Asignar Nota
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="background-color: white; padding: 20px; border: 1px solid black; border-radius: 20px; text-align: center;">
            <h1 class="rosa">Asignar Nota</h1>

            <p class="rosa">Nota de la entrega <strong>{{ subida.entrega.nombre }}</strong> del usuario <strong>{{ subida.user.email }}</strong></p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
